@model IEnumerable<WebAppVete.Models.Mascota>

@{
    ViewData["Title"] = "ListarMascotas";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Propietario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.especie)
            </th>
            @* <th></th> *@
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {  
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Propietario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.especie.Nombre)
            </td>
           @*  <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td> *@
        </tr>
            }

        }
        else
        {
            <h2>No hay mascotas cargadas</h2>
        }
    </tbody>
</table>
